@inject LibraryContext Db

@rendermode InteractiveServer

@using library.Components.Pages
@using Microsoft.EntityFrameworkCore;

@code {

	public List<string> Authors { get; set; } = new();

	[Parameter]
	required public Book Book { get; set; }

	[CascadingParameter]
	public required BooksPage _Parent { get; set; }


	private void onEdit()
	{

	}

	private void onBookSelect()
	{
		_Parent.selectedBook = Book;
		_Parent.UpdateState();
	}
	private void onDelete()
	{
		Db.Books_authors.Where(pair => pair.Id_book == Book.Id).ToList().ForEach(pair =>
		Db.Database.ExecuteSql($"DELETE FROM books_authors WHERE id_book = {pair.Id_book} AND id_author = {pair.Id_author}"));
		Db.Copies.Where(copy => copy.Id_book == Book.Id).ToList().ForEach(copy => Db.Copies.Remove(copy));
		Db.Books.Remove(Book);

		//Cleaning up empty authors
		Db.Authors.Where(author => Db.Books_authors.Where(pair => pair.Id_author == author.Id).Count() ==
		0).ToList().ForEach(author => Db.Authors.Remove(author));

		Db.SaveChanges();

		_Parent.UpdateState();
	}
}

<div class="list-group-item">
	<div class="row">
		<div class="col" style="margin: 0px;">
			<button type="button" @onclick=@onBookSelect class="list-group-item list-group-item-action">
				Tytuł: @(Book.Title ?? "")
				<br>
				@{
					var pairList = Db.Books_authors.Where(pair => pair.Id_book == Book.Id).ToList();
					Authors = new();
					foreach (var pair in pairList)
					{
						var author = Db.Authors.Where(a => a.Id == pair.Id_author).ToList().First();
						Authors.Add($"{author.Name} {author.Surname}");
					}
				}
				@(Authors.Count > 1 ? "Autorzy: " : (Authors.Count == 0 ? "" : "Autor: "))
				@foreach (var (index, author) in Authors.Select((v, i) => (i, v)))
				{
					@if (index > 0)
					{
						@(", ")
					}
					@author
				}
				@if (Authors.Count > 0)
				{
					<br>
				}
				Kategoria: @Db.Categories.Where(category => category.Id_category ==
								Book.Id_category).ToList().First().Name
				<br>
			</button>
		</div>

		<div class="col-md-auto"
			style="margin: 0px; display: flex; justify-content: space-around; align-items: center;">
			<button class="btn btn-primary" @onclick=@onEdit type="button" style="margin:2px">Edytuj</button>
			<button class="btn btn-danger" @onclick=@onDelete type="button" style="margin:2px">Usuń</button>
		</div>
	</div>
</div>
