@inject LibraryContext Db

@rendermode InteractiveServer

@using library.Components.Pages

@code {


	[Parameter]
	required public Copy Copy { get; set; }

	[CascadingParameter]
	public required BooksPage _Parent { get; set; }

	private void onEdit()
	{

	}

	private void onBookSelect()
	{
		_Parent.UpdateState();
	}
	private void onDelete()
	{
		Db.Copies.Remove(Copy);
		Db.Publishers.Where(p => Db.Copies.Where(c => c.Id_publisher == p.Id).Count() == 0).ToList().ForEach(p =>
		Db.Publishers.Remove(p));
		Db.SaveChanges();

		_Parent.UpdateState();
	}

}

<div class="list-group-item">
	<div class="row">
		<div class="col" style="margin: 0px;">
			@if (@Db.Rentals.Where(rental => rental.Id_copy == Copy.Id).Count() == 0)
			{
				<i class="bi bi-check" style="font-size: 2rem; color: green;"></i>
			}
			else
			{
				<i class="bi bi-x" style="font-size: 2rem; color: red;"></i>
			}
			<br>
			Nr inwentarza: @Copy.Id_inventory
			<br>
			Wydawnictwo: @Db.Publishers.Where(Publisher => Publisher.Id == Copy.Id_publisher).First().Name
			<br>
			Rok Wydania: @Copy.Year_published
			<br>
		</div>

		<div class="col-md-auto"
			style="margin: 0px; display: flex; justify-content: space-around; align-items: center;">
			@*? Jeśli chcemy to dodać to możemy, ale imo nie jest bardzo wymagane *@
			@* <button class="btn btn-primary" @onclick=@onEdit type="button" style="margin:2px">Edytuj</button> *@
			<button class="btn btn-danger" @onclick=@onDelete type="button" style="margin:2px"
				disabled=@(Db.Rentals.Where(r => r.Id_copy == Copy.Id).Count() > 0)>Usuń</button>
		</div>
	</div>
</div>
