@page "/books"
@using MySql.Data.MySqlClient
<PageTitle>Przeszukiwanie książek</PageTitle>

@code {
	@* private string connectionString;
	connectionString = "server=localhost:3306;uid=admin;pwd=admin;database=system_biblioteczny"; *@

	@* MySql.Data.MySqlClient.MySqlConnection connection; *@
}

@* MAIN PAGE *@
<div class="container">
	<div class="row">
		<div class="col-md-2">
			Wyszukiwanie
			<input style="margin:10px" type="text" class="form-control" id="TitleInput" placeholder="Tytuł">
			<input style="margin:10px" type="text" class="form-control" id="AutorInput" placeholder="Autor">
			<select style="margin:10px" class="form-control" id="CategorySelect" placeholder="Kategoria">
				<option value="1">1.</option>
				<option value="2">2.</option>
				<option value="3">3.</option>
				<option value="4">4.</option>
			</select>
			<input style="margin:10px" type="text" class="form-control" id="PublisherInput" placeholder="Wydawnictwo">

			Zarządzanie
			<button style="margin:10px" type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#AddCopyModal">
				Dodaj egzemplarz
			</button>
		</div>
		<div class="col-md-10">
			Dane
			<div class="row-md-6">
				<ul class="list-group overflow-auto shadow" id="BooksList" style="margin:10px; height: 40vh">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
					@* @foreach (var book in books)
					{
						<li class="list-group-item">@book</li>
					} *@
				</ul>
			</div>
			<div class="row-md-6">
				<ul class="list-group overflow-auto shadow" id="CopiesList" style="margin:10px; height: 40vh">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
</div>

@* ADD BOOK/COPY MODAL *@
<div class="modal fade" id="AddCopyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Dodaj Egzemplarz</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
