@page "/books"

<PageTitle>Przeszukiwanie książek</PageTitle>


<div class="container">
	<div class="row">
		<div class="col-md-2">
			Wyszukiwanie
			<input style="margin:10px" type="text" class="form-control" id="TitleInput" placeholder="Tytuł">
			<input style="margin:10px" type="text" class="form-control" id="AutorInput" placeholder="Autor">
			<select style="margin:10px" class="form-control" id="CategorySelect" placeholder="Kategoria">
				<option value="1">1.</option>
				<option value="2">2.</option>
				<option value="3">3.</option>
				<option value="4">4.</option>
			</select>
			<input style="margin:10px" type="text" class="form-control" id="PublisherInput" placeholder="Wydawnictwo">
			Zarządzanie
			<button style="margin:10px" type="button" class="btn btn-primary">
				Dodaj egzemplarz
			</button>
		</div>
		<div class="col-md-10">
			Dane
		</div>
	</div>
</div>