@page "/books"
@inject LibraryContext Db
@rendermode InteractiveServer
@inject library.Services.DatabaseService DbService

<PageTitle>Przeszukiwanie książek</PageTitle>

@code {
	@* private string connectionString;
	connectionString = "server=localhost:3306;uid=admin;pwd=admin;database=system_biblioteczny"; *@

	@* MySql.Data.MySqlClient.MySqlConnection connection; *@

	public Book newBook = new Book();
	private int Id = 5;
	async private void onAddEntry()
	{
		Console.WriteLine("Add pressed");
		newBook.Id = Id;
		Id++;
		newBook.Title = "TestTitle";
		newBook.Id_category = "005";
		try
		{
		await DbService.SaveDataAsync(newBook);
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error: {ex.Message}");
		}
	}
	


}

@* MAIN PAGE *@
<div class="container">
	<div class="row">
		<div class="col-md-2">
			Wyszukiwanie
			<input style="margin:10px" type="text" class="form-control" id="TitleInput" placeholder="Tytuł">
			<input style="margin:10px" type="text" class="form-control" id="AutorInput" placeholder="Autor">
			<select style="margin:10px" class="form-control" id="CategorySelect" placeholder="Kategoria">
				<option value="1">1.</option>
				<option value="2">2.</option>
				<option value="3">3.</option>
				<option value="4">4.</option>
			</select>
			<input style="margin:10px" type="text" class="form-control" id="PublisherInput" placeholder="Wydawnictwo">

			Zarządzanie
			<button style="margin:10px" type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#AddCopyModal">
				Dodaj egzemplarz
			</button>
			<button style="margin:10px" type="button" class="btn btn-primary" id="test"
							@onclick="onAddEntry"> Test</button>
		</div>
		<div class="col-md-10">
			Dane
			<div class="row-md-6">
				<ul class="list-group overflow-auto shadow" id="BooksList" style="margin:10px; height: 40vh">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
					*DB* @foreach (var book in Db.Books.ToList())
					{
						<li class="list-group-item">@book.Title</li>
					} *DB*
				</ul>
			</div>
			<div class="row-md-6">
				<ul class="list-group overflow-auto shadow" id="CopiesList" style="margin:10px; height: 40vh">
    using library.Services;
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
    using library.Services;
    using library.Services;
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
</div>

@* ADD BOOK/COPY MODAL *@
<div class="modal fade" id="AddCopyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Dodaj Egzemplarz</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
