@page "/users"

<PageTitle>Przeszukiwanie użytkowników</PageTitle>


<div class="container">
	<div class="row">
		<div class="col-md-2">
			Wyszukiwanie
			<input style="margin:10px" type="text" class="form-control" id="NameInput" placeholder="Imię">
			<input style="margin:10px" type="text" class="form-control" id="SurnameInput" placeholder="Nazwisko">
			<input style="margin:10px" type="text" class="form-control" id="PeselInput" placeholder="PESEL">
			Zarządzanie
			<button style="margin:10px" type="button" class="btn btn-primary">
				Dodaj użytkownika
			</button>

			<div style="margin:10px" class="list-group">
				<button type="button" class="list-group-item list-group-item-action">1. użytkownik</button>
				<button type="button" class="list-group-item list-group-item-action">2. użytkownik</button>
				<button type="button" class="list-group-item list-group-item-action">3. użytkownik</button>
				<button type="button" class="list-group-item list-group-item-action">4. użytkownik</button>
				<button type="button" class="list-group-item list-group-item-action">5. użytkownik</button>
			</div>
		</div>
		<div class="col-md-10">
			Dane
		</div>
	</div>
</div>