@page "/users"

<PageTitle>Przeszukiwanie użytkowników</PageTitle>


<div class="container">
	<div class="row">
		<div class="col-md-2">
			Wyszukiwanie
			<input style="margin:10px" type="text" class="form-control" id="NameInput" placeholder="Imię">
			<input style="margin:10px" type="text" class="form-control" id="SurnameInput" placeholder="Nazwisko">
			<input style="margin:10px" type="text" class="form-control" id="PeselInput" placeholder="PESEL">
			Zarządzanie
			<button style="margin:10px" type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#AddUserModal">
				Dodaj użytkownika
			</button>

			<div style="margin:10px" class="list-group">
				<button type="button" class="list-group-item list-group-item-action">1. użytkownik</button>
				<button type="button" class="list-group-item list-group-item-action">2. użytkownik</button>
				<button type="button" class="list-group-item list-group-item-action">3. użytkownik</button>
				<button type="button" class="list-group-item list-group-item-action">4. użytkownik</button>
				<button type="button" class="list-group-item list-group-item-action">5. użytkownik</button>
			</div>
		</div>
		<div class="col-md-10">
			Dane
			<div class="row">
				<div class="d-flex justify-content-between">
					<div class="d-flex">
						<button style="margin:10px" type="button" class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#ViewUser">
							Informacje o wybranym użytkowniku
						</button>
						<button style="margin:10px" type="button" class="btn btn-primary">
							Edytuj
						</button>
					</div>
					<button style="margin:10px" type="button" class="btn btn-primary" data-bs-toggle="modal"
						data-bs-target="#AddRental">
						Dodaj wypożyczenie
					</button>
					</div>
				</div>
			<div class="row">
				
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Dodaj Użytkownika</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ViewUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Użytkownik</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="AddRental" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Dodaj wypożyczenie</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
